.ad1{position:absolute;left:0px;top:0px;height:111px;width:1156px;}
.ad1 img{height:111px;width:1156px;}
.ad2{width:120px;height:54px;position:absolute}
.ad2 img{width:120px;height:54px;}
.ad2.type1{right:0px;top:0px;}
.ad2.type2{right:0px;top:56px;}
.ad2.type3{right:122px;top:0px;}
.ad2.type4{right:122px;top:56px;}
.index-h111{height:111px;}
.index-h532{height:532px;}
.index-w515{width:515px;position:absolute;right:0px;top:0px;overflow:hidden}
.right-roll-title{width:100%;height:28px;background:url(../images/i3_09.png) repeat-x center bottom;position:relative}
.right-roll-title span{background-color:#fff;font-size:24px;line-height:24px;color:#ffa000;padding-right:10px;}
.right-roll-title a{position:absolute;right:0px;top:0px;border:solid 1px #ffab1e;color:#ffab1e;border-radius:5px;padding:2px 10px;background-color:#fff;text-decoration: none;}
.index-roll-new ul li{border-bottom:solid 1px #ebeff2;padding:20px 0px;line-height:28px;}
.index-roll-new ul li h1{font-size:20px;font-weight:700}
.index-roll-new ul li .desc{color:#999999;padding-top:10px;line-height:28px;}
.index-roll-new ul li a:hover{color:#ffa000;}
.index-roll-new ul li span{text-align:right;float:right;}
.index-roll-new ul li .tip{padding-bottom:20px;height:24px;line-height:24px;color:#d5d5d8;}
.index-roll-new ul li .tip a{line-height:24px;display:block;color:#d5d5d8;float:left;}
.index-roll-new ul li .tip img{width:23px;height:23px;margin-right:15px;}
.index-roll-new-box{height:500px;overflow:hidden}
.index-w850{width:850px;float:left;overflow:hidden;}
.index-nav-h32{height:32px;line-height:32px;overflow:hidden;position:relative;padding-bottom:15px;border-bottom:1px solid #eee}
.index-scoll-l{position:absolute;widht:20px;left:0px;top:0px;height:32px;line-height:32px;text-align:center}
.index-scoll-r{position:absolute;widht:20px;right:0px;top:0px;height:32px;line-height:32px;text-align:center;z-index:2}
.index-scoll-l a,.index-scoll-r a{display:block;width:20px;height:32px;line-height:32px;text-align:center; font-family:SimSun;text-decoration: none;}
.index-scoll-c{width:810px;height:32px;line-height:32px;position:absolute;left:20px;top:0px;z-index:1}
.nav-type {position:relative;height:32px;width:100%;overflow:hidden;margin:0 auto;}
.nav-type .scroller {position:absolute}
.nav-type .scroller ul{width:110%;}
.nav-type .scroller li {height:32px;color:#333;float:left;line-height:32px;font-size:18px;text-align: center}
.nav-type .scroller li a{color:#232426;display:block;margin:0px 11px 0px 10px;text-decoration: none;}
.nav-type .scroller ul.otype li a{color:#232426;display:block;margin:0px 9px 0px 9px;text-decoration: none;}
.nav-type .scroller ul.otype li.cur a{color:#ffa000;font-size:20px;font-weight:bold;}
.nav-type .scroller li.cur a{color:#ffa000;font-size:20px;font-weight:bold;}
.index-img-left{float:left;margin-right:20px;width:256px;height:167px;overflow:hidden}
.index-img-left img{width:256px;;_width:expression(this.width > 256 ? "256px" : this.width);transition: all 0.6s;}
.index-img-left img:hover{transform: scale(1.4);}
.h167{height:167px;}
.h158{height:158px;}
.index-nav-list h1{font-size:18px;font-weight:bold;}
.index-nav-list .desc{color:#404040;padding-top:20px;line-height:28px;}
.index-desc-right{overflow:hidden;}
.index-h137-right{height:140px;overflow:hidden}
.itime{float:right;font-size:12px;color:#bbbbbb;font-family:NSimSun,SimSun;}
.index-time-footer a{font-family:NSimSun,SimSun;font-size:12px;text-decoration: none; background-color:#f5f6fa;padding:3px 10px;color:#999999;margin-right:15px;border-radius:2px;}
.index-time-footer a:hover{color:#fff;}
.index-nav-list ul li{padding-top:40px;}
.index-nav-list ul li a:hover{color:#ffa000}
.index-w443-h275{width:443px;height:275px;overflow:hidden;margin-right:25px;float:left;}
.index-w443-h275 img{width:443px;height:275px;overflow:hidden;_width:expression(this.width > 256 ? "256px" : this.width);transition: all 0.6s;}
.index-w443-h275 img:hover{transform: scale(1.4);}
.index-h275-box{height:275px;}
.index-h145{height:150px;overflow:hidden;padding-top:30px;}
.index-h145 a:hover{color:#ffa000;}
.index-h145 h1{max-height:53px;overflow:hidden;}
.index-h145 .desc{max-height:80px;overflow:hidden;padding-top:15px;color:#666666;}
.index-h275-ul{padding-top:15px;font-size:16px;}
.index-h275-ul ul li{height:24px;line-height:24px;overflow:hidden;padding:0;margin:0;}
.index-h275-ul ul li a{padding-left:20px;background:url(../images/i3_27.jpg) no-repeat center left;}
.index-zt-ul ul li{padding:0;margin:0;height:32px;overflow:hidden;line-height:32px;font-size:16px;}
.index-zt-ul ul li a.a1{color:#fff;text-decoration: none; background-color:#3399ff;padding:3px 7px;margin-right:15px;border-radius:5px;}
.index-zt-ul ul li a.a3{color:#fff;text-decoration: none; background-color:#ff3333;padding:3px 7px;margin-right:15px;border-radius:5px;}
.index-w515-r{width:515px;}
.index-w515-title{height:32px;border-bottom:solid 1px #f0f0f0;position:relative;}
.index-w515-text{position:absolute;left:0px;top:0px;}
.index-w515-text h1{font-size:22px;height:32px;line-height:32px;border-bottom:solid 2px #ffa000;float:left;color:#ffa000}
.index-w515-text h1 a{color:#ffa000;text-decoration: none;}
.index-h120{max-height:130px;overflow:hidden;padding-bottom:10px;}
.index-h120-img{width:123px;height:120px;float:left;overflow:hidden;margin-right:15px;position:relative;}
.index-h120-img img{width:123px;height:120px;overflow:hidden;_width:expression(this.width > 123 ? "123px" : this.width);transition: all 0.6s;}
.index-h120-img img:hover{transform: scale(1.4);}
.index-h120-box h1{max-height:53px;overflow:hidden;font-size:18px;font-weight:bold}
.index-h120-box h1 a:hover{color:#ffa000;}
.index-h120-box .desc{margin-top:15px;color:#404040;line-height:28px;}
.index-h120-box .desc a{color:#dd191b}
.index-w515-ul div.d1{height:35px;line-height:35px;overflow:hidden}
.index-w515-ul div.d1 span{padding:4px 8px;background-color:#fd4436;color:#fff;margin-right:15px;border-radius:5px;font-size:16px;}
.index-w515-ul div.d1  a{color:#404040;font-size:16px;}
.index-w515-ul div.d1  a:hover{color:#ffa000;}
.index-h120-img span.tip{z-index:2;position:absolute;left:0px;top:0px;padding:3px 8px;background-color:#fd4436;color:#fff;margin-right:15px;border-radius:5px;font-size:16px;}
.index-w515-ul div.d2{height:35px;line-height:35px;overflow:hidden}
.index-w515-ul div.d2 span{padding:4px 8px;background-color:#fd4436;color:#fff;margin-right:15px;border-radius:5px;font-size:16px;}
.index-w515-ul div.d2  a{color:#404040;font-size:16px;background:url(../images/loindex_31.jpg) no-repeat center left;padding-left:20px;}
.index-w515-ul div.d2  a:hover{color:#ffa000;}
.ad3{position:absolute;left:0px;top:0px;height:90px;width:382px;overflow:hidden;}
.ad3 img{height:90px;width:382px;}
.ad4{position:absolute;left:387px;top:0px;height:90px;width:730px;overflow:hidden;}
.ad4 img{height:90px;width:730px;}
.ad5{position:absolute;left:1122px;top:0px;height:90px;width:278px;overflow:hidden;}
.ad5 img{height:90px;width:278px;}
.index-video-text h1{font-size:22px;height:32px;line-height:32px;color:#ffa000}
.index-video-text a{color:#232426;text-decoration: none;float:right;line-height:32px;}
.index-video-box{padding-top:20px;}
.index-video-top{width:850px;overflow:hidden;}
.index-video-top ul{width:110%;margin:0;}
.index-video-top ul li{width:402px;float:left;height:250px;padding-right:45px;}
.index-video-top ul li .dot{position:absolute;left:50%;top:50%;z-index:1}
.index-video-top ul li .dot .ico{position:absolute;left:-25px;top:-25px;width:50px;height:50px;}
.dot-text{position:absolute;left:0px;bottom:0px;display:block;width:100%;height:42px;color:#fff;}
.dot-text-bg{position:absolute;left:0px;bottom:0px;background-color:#000;height:100%;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;z-index:2;display:block;width:100%;}
.dot-text-font{position:absolute;left:0px;bottom:0px;z-index:3;display:block;padding:0px 10px;overflow:hidden;height:42px;line-height:42px;}
.dot-text a{color:#fff;}
.w402-h250{width:402px;height:250px;overflow:hidden;}
.w402-h250 .d1 img{width:402px;height:250px;_width:expression(this.width > 402 ? "402px" : this.width);transition: all 0.6s;}
.index-video-top ul li .d1 img:hover{transform: scale(1.4);}
.index-video-list{padding-top:20px;overflow:hidden;}
.index-video-list ul{width:120%;}
.index-video-list ul li{height:42px;line-height:42px;width:380px;float:left;padding-right:66px;overflow:hidden}
.index-video-list ul li a{padding-left:35px;background:url(../images/i4_19.jpg) no-repeat left center;color:#404040;font-size:18px;}
.index-video-list ul li a:hover{color:#ffa000;}
.index-img-top{width:100%;height:223px;overflow:hidden;}
.index-img-top ul{width:110%;height:223px;}
.index-img-top ul li{width:262px;height:223px;float:left;margin-right:30px;}
.index-img-top .d2{padding-top:10px;line-height:28px;height:56px;overflow:hidden;}
.index-img-top .d2 a{color:#585858;}
.index-img-top .d2 a:hover{color:#ffa000;}
.index-img-top .d1{width:262px;height:163px;overflow:hidden;}
.index-img-top .d1 img{width:262px;height:163px;_width:expression(this.width > 262 ? "262px" : this.width);transition: all 0.6s;}
.index-img-top .d1 img:hover{transform: scale(1.4);}
.index-video-right{width:515px;overflow:hidden;}
.index-video-right ul li{width:504px;float:left;height:250px;}
.index-video-right ul li .dot{position:absolute;left:50%;top:50%;z-index:1}
.index-video-right ul li .dot .ico{position:absolute;left:-25px;top:-25px;width:50px;height:50px;}
.w504-h250{width:504px;height:250px;overflow:hidden;}
.w504-h250 .d1 img{width:504px;height:250px;_width:expression(this.width > 504 ? "504px" : this.width);transition: all 0.6s;}
.index-vid-list{padding-top:20px;overflow:hidden;}
.index-vid-list ul li{height:42px;line-height:42px;float:left;overflow:hidden}
.index-vid-list ul li a{color:#404040;font-size:18px;padding-left:5px;}
.index-vid-list ul li a:hover{color:#ffa000;}
.index-vid-list span.sp1{padding:0 5px;color:#fa0b0b;font-size:18px;}
.index-vid-list span.sp2{padding:0 5px;color:#c3c1c1;font-size:18px;}
.index-zj-list ul{width:110%;height:150px;}
.index-zj-list ul li{width:158px;height:150px;overflow:hidden;float:left;text-align:center;margin-right:20px;}
.index-zj-list img{width:158px;height:106px;_width:expression(this.width > 158 ? "158px" : this.width);transition: all 0.6s;}
.index-zj-list img:hover{transform: scale(1.4);}
.index-zj-list ul li a.a1{padding:5px 10px;background-color:#3399ff;color:#fff;text-decoration: none;border-radius:5px;}
.index-zj-list ul li div.d1{padding-top:10px;}
.index-zj-list ul li div.d2{width:158px;height:106px;overflow:hidden}
.index-zj-ul ul li{height:35px;line-height:35px;overflow:hidden;}
.index-zj-ul ul li a{color:#585858;font-size:16px;background:url(../images/loindex_31.jpg) no-repeat center left;padding-left:20px;}
.index-zj-ul ul li a:hover{color:#ffa000;}
.index-ad-ul{width:100%;height:90px;overflow:hidden;}
.index-ad-ul ul{width:105%;}
.index-ad-ul ul li,.index-ad-ul ul li img{height:90px;float:left;margin-right:6px;}
.index-ad-ul .w461{width:461px;}
.index-ad-ul .w204{width:204px;}
.index-ad-ul .w931{width:931px;}
.index-ad-ul .w238{width:238px;}
.index-w400{width:400px;}
.index-w400-title{background-color:#fcfafa;height:42px;line-height:42px;overflow:hidden;color:#3399ff;font-size:18px;text-indent:10px;}
.pl10{padding-left:10px;}
.index-mstype1{margin-top:25px;margin-bottom:5px;margin-right:50px}
.index-w400-hide{width:100%;overflow:hidden;}
.index-w400-wipe{width:110%;}
.index-jyjy ul{padding-top:20px;}
.index-jyjy ul li{float:left;color:#585858;height:35px;line-height:35px;margin-right:12px;}
.index-jyjy ul li a{color:#585858;border-right:solid 1px #ccc;padding-right:12px;}
.index-jyjy ul li a.nb{border:none;}
.index-jyjy ul li a:hover{color:#ffa000;}



/****重写轮显******/
.carousel-box{width:845px;height:532px;}
.layui-carousel-ind ul{background:none;}
.layui-carousel-ind li.layui-this {background-color:#ffa000;width: 50px;}
.layui-carousel-ind li{border-radius:20px;background-color:#dcdcdc;}
.carousel-box img{width:845px;height:532px;}
.layui-carousel-ind{padding-left:10px;text-align:left;top:-30px;z-index:2;}
.carousel-text{position:absolute;left:0px;bottom:0px;width:100%;height:90px;z-index:1;}
.carousel-text-bg{position:absolute;width:100%;height:100%;display:block;left:0px;top:0px;filter:alpha(opacity=30);-moz-opacity:0.3;opacity:0.3; background-color:#000;z-index:2}
.carousel-text a{color:#fff;font-size:24px;font-weight:bold;}
.carousel-text-list{position:absolute;z-index:2;left:0px;top:0px;width:100%;height:100%;display:block;}
.carousel-text-list div{padding:15px 15px 0px 15px;height:30px;overflow:hidden;display:none;}
.carousel-text-list div a:hover{color:#ffa000;}
/****重写轮显******/


