<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
		<title>攻坚克难当先锋 决战决胜作表率</title>
		<link rel="stylesheet" type="text/css" href="/static/jxfpzt/style/style.css?id=20200228001" />
		<style>
			.content img{max-width:950px;margin:0 auto;}
		</style>
	</head>
	<body>
		{include file='common/head'}
        <div class="cbody w1003 box">
			<div class="omain">
				<div class="arttitle">{$info.title}</div>
				<div class="content">
					{$info.content|raw}
				</div>
			</div>
		</div>

		{include file='common/footer'}
	</body>
</html>
