@charset "utf-8";
/**********登录**********/
body.bg{background-color:#ebeff2;}
.login-wrap{position:relative;height:100%;}
.layui-carousel{position:absolute;left:0px;top:0px;}
.login-wbox{position:absolute;z-index:2;left:50%;top:50%;}
.login-form{margin-top:10px;width:400px;background-color:#fff;border-radius:10px;padding-bottom:30px;}
.login-main{width:100%;height:100%;min-height:750px}
.login-footer{position:absolute;width:1000px;left:-500px;top:280px;text-align:center;color:#cccccc;line-height:2.0em}
.login-footer a{color:#cccccc;}
.login-form h1{text-align:center;padding-top:34px;font-size:1.4em;color:#030303;}
.login-layui{padding:30px 0px 0px 0px;}
.layui-form-danger+.layui-form-select .layui-input, .layui-form-danger:focus{border:solid 1px #f00 }
.layui-form-labelr{width:90px;float:right;line-height:38px;background:url(../images/it_13.jpg) no-repeat left center;padding-left:30px;}
.login-other{padding:0px 30px 0px 30px;}
.login-other-img{padding:12px 0px 12px 0px;text-align:center;}
.login-other-img a{padding:0px 30px; text-decoration: none;color:#32a4ff}
.login-other-img a.a1{color:#5ec12a}
.login-other-img img{border-radius:50%;width:38px;height:38px;}
.login-text{color:#727475;}.login-text a{color:#3399ff;padding:0px 10px;text-decoration:underline;}.login-text a.a1{padding-left:10px;}
.user-index{background-color:#ebeff2}
.login-bg1{display:block;width:100%;height:100%;background:url(../images/i.jpg) no-repeat top center;background-size:100% 100%;}
.login-bg2{display:block;width:100%;height:100%;background:url(../images/bg1.jpg) no-repeat top center;background-size:100% 100%;}
.login-bg3{display:block;width:100%;height:100%;background:url(../images/bg2.jpg) no-repeat top center;background-size:100% 100%;}
.login-bg4{display:block;width:100%;height:100%;background:url(../images/bg3.jpg) no-repeat top center;background-size:100% 100%;}
.loginbox{width:400px;float:left;position:absolute;left:200px;top:-300px;z-index:2}
.user-h57{height:57px;background-color:#ed8927;}
.user-logo{width:111px;height:38px;position:absolute;left:20px;top:9px;}
.user-search{width:680px;height:33px;position:absolute;left:210px;top:10px;}
.layui-btn.user-search-bnt{width:32px;height:33px;background:url(../images/u2_06.jpg) no-repeat center center;background-color:none;position:absolute;right:0px;top:3px;border:none;}
.w182{width:182px;overflow:hidden}
.box-border{border:solid 1px #f0f0f0;background-color:#fff;}
.box-bgcolor{background-color:#fff;}
.user-left-box .layui-nav-tree{width:100%;}
.user-left-box .layui-nav-tree .layui-nav-item a{background-color:#ff9900}
.user-left-box .layui-nav-tree .layui-nav-item a.a1{background-color:#d1d0d0}
.user-left-box .layui-nav-tree .layui-nav-item a.afs{font-size:18px;border-radius:3px;padding:0px 30px 0px 10px;text-align:center}
.user-left-box .layui-nav-itemed>.layui-nav-child{background-color:#fff;}
.user-left-box .layui-nav-tree .layui-nav-item dd a{background-color:#fff;color:#7b7878;text-align:center;padding-right:30px;padding-left:10px;}
.user-left-box .layui-nav-tree .layui-nav-item a:hover{background-color:#ffaa11;text-decoration: none;}
.user-left-box .layui-nav-tree .layui-nav-bar{background:none;}
.user-left-box .layui-nav-tree .layui-nav-child dd.layui-this,.user-left-box .layui-nav-tree .layui-nav-child dd.layui-this a,.user-left-box .layui-nav-tree .layui-this,.user-left-box .layui-nav-tree .layui-this>a,.user-left-box .layui-nav-tree .layui-this>a:hover{background-color:#efefef;color: #ff3333}
.user-left-box .layui-nav-tree .layui-nav-child a{height:46px;line-height:46px;}
.user-left-box .layui-nav-tree .layui-nav-item dd a:hover{background-color:#efefef;color: #ff3333}
.user-left-box .layui-nav-tree .layui-nav-item{width:170px;background-color:#fff;padding:15px 5px 0px 5px;/*margin-bottom:20px;border:solid 1px #f0f0f0;*/}
.user-left-box .layui-nav,.user-left-box .layui-bg-cyan{background:none!important;}
.user-main{width:1000px;}
.user-h47{height:47px;}
.user-box-s{background-color:#fff;border:solid 1px #f0f0f0;}
.user-new-tip{position:absolute;width:72px;height:26px;top:12px;left:20px;font-size:18px;color:#8e8d8d;text-align:center;line-height:26px;border-radius:5px;}
.user-new-tip a{color:#8e8d8d;text-decoration: none;}
.user-h47-w755{width:755px;height:47px;position:absolute;left:0px;top:0px;}
.user-tip-list{height:17px;width:600px;position:absolute;overflow:hidden;left:110px;top:15px;background:url(../images/i2_03.jpg) no-repeat left center;padding-left:15px;}
.user-tip-list {padding-right:20px;height:19px;float:left;line-height:20px;overflow:hidden;}
.user-tip-list  a{padding-right:50px;}
.user-tip-list  a:hover{color:#ffa000;text-decoration: none;}
.user-tip-list  a span{padding-right:10px;color:#9fa3a6;}
.user-h47-w755 .more{position:absolute;right:10px;top:13px;color:#fe5c61}
.user-h47-w230{width:230px;height:47px;position:absolute;top:0px;right:0px;z-index:2;}
.user-h47-w230 .layui-nav{padding: 0 10px;background:none}
.user-h47-w230 .layui-nav .layui-nav-item{line-height:47px;}
.user-h47-w230 .layui-nav .layui-nav-item a{color:#000;}
.user-h47-w230 .layui-nav-img{border:solid 1px #d8d8d8}
.user-h47-w230 .layui-nav .layui-nav-more{border-color: #000 transparent transparent;}
.user-h47-w230 .layui-nav .layui-nav-mored,.user-h47-w230 .layui-nav-itemed>a .layui-nav-more {margin-top: -9px;border-style: dashed dashed solid;border-color: transparent transparent #000;}
.user-h47-w230 .layui-nav .layui-nav-item a:hover,.user-h47-w230 .layui-nav .layui-this a{color:#ffa000;}
.user-h47-w230 .layui-nav .layui-this:after,.user-h47-w230 .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after{height: 1px;background-color: #ffa000;}
.user-h47-w230 .layui-nav-child{top:50px;}
.user-h47-ico{line-height:47px;height:47px;overflow:hidden;display:block;}
.user-h150{height:150px;z-index:1;}
.user-h150-w755{width:755px;height:150px;position:absolute;top:0px;left:0px;overflow:hidden;}
.user-h150-w755 ul{width:110%;padding-top:30px;}
.user-h150-w755 ul li{height:85px;float:left;width:252px;border-right:solid 1px #ebeff2;text-align:center;}
.user-h150-w755 ul li p{color:#7b7878;padding-top:10px;}
.user-h150-w755 ul li h1{font-size:36px;color:#000000;line-height:48px;}
.user-h150-w230{height:150px;width:230px;position:absolute;right:0px;top:0px;}
.user-h150-w230-box{padding:35px 15px 0px 15px}
.user-cz-bnt{width: 170px;margin: 0 auto;}
.user-cz-bnt a{height:34px;width:100%;background-color:#ff9900;display:block;line-height:34px;text-decoration: none;text-align:center;color:#fff;}
.user-cz-bnt a:hover{font-weight:bold;color:#fff;}
.user-h150-w230-box h1{text-align:center;padding-top:20px;max-height:42px;overflow:hidden;}
.user-h90{height:90px}
.user-h90-w670{width:670px;height:90px;position:absolute;left:0px;top:0px}
.user-h90-w670-box{padding:11px;overflow:hidden}
.user-h90-w670-img{float:left;}
.user-h90-w670-list{height:67px;padding-left:20px;overflow:hidden;}
.user-h90-w670-list ul{width:110%;}
.user-h90-w670-list ul li{float:left;width:260px;height:32px;line-height:32px;overflow:hidden;background:url(../images/u2_21.jpg) no-repeat left center;padding-left:20px;padding-right:20px;}
.user-h90-w670-list ul li a:hover{color:#ffa000;}
.user-h90-w315{width:315px;height:90px;position:absolute;right:0px;top:0px;}
.user-h90-w315 .img{width:315px;height:90px;}
.user-h125{height:125px}
.user-h125-w755{width:755px;height:125px;position:absolute;left:0px;top:0px}
.user-h125-w755 img{width:755px;height:125px;}
.user-h125-w230{width:230px;height:125px;position:absolute;right:0px;top:0px}
.user-h125-w230 img{width:230px;height:125px;}
.user-w670{width:670px;}
.user-title-title{height:32px;border-bottom:solid 1px #f0f0f0;position:relative;}
.user-title-text{position:absolute;left:0px;top:0px;}
.user-title-text h1{font-size:22px;height:32px;line-height:32px;border-bottom:solid 2px #ffa000;float:left;color:#ffa000}
.user-title-text h1 a{color:#ffa000;text-decoration: none;}
.user-czhd-box{padding:20 0px 20px 15px;}
.user-czhd-list{overflow:hidden;}
.user-czhd-list ul{margin-left:15px;width:105%}
.user-czhd-list ul li{border-radius:8px;width:290px;height:150px;float:left;margin-top:20px;margin-right:25px;border-top:solid 1px #f0f0f0;border-left:solid 1px #f0f0f0;border-right:solid 1px #f7f5f6;border-bottom:solid 1px #f7f5f6;}
.user-czhd-list ul li .divborder{width:288px;height:148px;border-right:solid 1px #f0f0f0;border-bottom:solid 1px #f0f0f0;border-left:solid 1px #f7f5f6;border-top:solid 1px #f7f5f6;}
.user-czhd-list ul li .divbox{padding:20px;}
.user-czhd-list ul li a:hover{color:#ffa000;}
.user-czhd-list ul li .d1{font-weight:bold;height:35px;line-height:35px;padding-right:15px;overflow:hidden;background:url(../images/u2_33.jpg) no-repeat right center;}
.user-czhd-list ul li .d2{line-height:24px;padding-top:15px;height:24px;overflow:hidden;font-size:14px;color:#404040;}
.user-czhd-list ul li .dd2{font-weight:bold;height:35px;line-height:35px;padding-right:15px;overflow:hidden;background:url(../images/v20210302_03.jpg) no-repeat right center;}
.user-w315{width:315px;}
.user-title-title .more{position:absolute;right:20px;top:5px;}
.user-title-title  a.more{color:#b4b5b6;text-decoration: none;}
.user-w315-box{padding:20px 0px 20px 15px;height:550px;}
.user-rdcz-right{padding:15px 20px 0px 15px;}
.user-rdcz-right ul li{height:50px;line-height:50px;padding-right:25px;position:relative;overflow:hidden}
.user-rdcz-right ul li a{position:relative;padding-left:20px;display:block;float:left;}
.user-rdcz-right ul li span.sp1{float:left;display:block;width:27px;font-family:arial;color:#939597;font-weight:bold;position:absolute;left:0px;top:0px;}
.user-rdcz-right ul li span.red{color:#cc3636}
.user-rdcz-right ul li span.tip{width:17px;height:17px;position:absolute;right:-20px;top:15px;}
.user-rdcz-right ul li a:hover{color:#ffa000;}
.user-xy{padding:20px 0px 20px 15px;}
.user-kc-list{width:875px;margin:0 auto;padding:70px 0px;}
.user-kc-list ul{border-bottom:solid 1px #ebeff2}
.user-kc-list ul li{width:25%;height:163px;float:left;text-align:center;}
.user-kc-list ul li a{width:100%;height:36px;display:block;color:#d1d0d0;padding-top:125px;font-size:18px;text-decoration: none;}
.user-kc-list ul li.bg1 a{background:url(../images/u2_i1_2.jpg) no-repeat top center;}
.user-kc-list ul li.bg2 a{background:url(../images/u2_i2_2.jpg) no-repeat top center;}
.user-kc-list ul li.bg3 a{background:url(../images/u2_i3_2.jpg) no-repeat top center;}
.user-kc-list ul li.bg4 a{background:url(../images/u2_i4_2.jpg) no-repeat top center;}
.user-kc-list ul li.bg1 a:hover,.user-kc-list ul li.bg1 a.cur{background:url(../images/u2_i1_1.jpg) no-repeat top center;color:#f4a727;border-bottom:solid 2px #f4a727}
.user-kc-list ul li.bg2 a:hover,.user-kc-list ul li.bg2 a.cur{background:url(../images/u2_i2_1.jpg) no-repeat top center;color:#f4a727;border-bottom:solid 2px #f4a727}
.user-kc-list ul li.bg3 a:hover,.user-kc-list ul li.bg3 a.cur{background:url(../images/u2_i3_1.jpg) no-repeat top center;color:#f4a727;border-bottom:solid 2px #f4a727}
.user-kc-list ul li.bg4 a:hover,.user-kc-list ul li.bg4 a.cur{background:url(../images/u2_i4_1.jpg) no-repeat top center;color:#f4a727;border-bottom:solid 2px #f4a727}
.user-right-tip{position:absolute;width:50px;height:135px;border:solid 1px #e8ecef;top:0px;right:-60px;background-color:#fff;text-align:center;}
.user-right-tip div{padding:17px 0px;}
.user-right-tip div.btop{border-bottom:solid 1px #c3c3c3;}
.user-footer{width:100%;min-width:1200px;background-color:#333333;}
.user-footer-bg{padding:40px 0px;background:url(../images/t_07.png) no-repeat right bottom;}
.user-left-w560{width:370px;float:left;}
.user-left-h57{height:57px;}
.user-right-w610{width:610px;padding-right:190px;float:right;overflow:hidden;}
.user-right-w610 ul{width:110%;height:115px;padding-left:100px;}
.user-right-w610 ul li{width:115px;height:145px;float:left;margin-right:12px;padding:0px 25px;}
.user-right-w610 ul li img{width:115px;height:115px;}
.user-right-w610 ul li p{text-align:center;padding-top:10px;}
.user-right-w610 ul li p.f1{color:#ff9900}
.user-right-w610 ul li p.f2{color:#f80000}
.user-right-w610 ul li p.f3{color:#24aaa6}
.user-right-w610 ul li p.f4{color:#bc9b16}
.user-right-w610 ul li p.f5{color:#fff}
.user-footer-logo{width:170px;height:57px;float:left;}
.user-footer-menu{padding:35px 0px 0px 190px;}
.user-footer-menu ul li{float:left;padding:0px 10px;}
.user-footer-menu ul li a{color:#fff;}
.user-footer-menu ul li a:hover{color:#ffa000;}
.user-footer-copy{color:#fff;font-size:13px;padding-top:45px;line-height:24px;}
.user-type h1 a:hover,.user-type h1 a.cur{color:#ffa000;text-decoration: underline;}
.user-type h1 span{border-right:1px solid #e3e3e3;margin:0 20px;}
.senmsm{position:absolute;right:1px;top:1px;line-height:36px;border-left:solid 1px #e6e6e6;background-color:#fafafa;height:36px;width:120px;text-align:center;}
.senmsm .sp1{font-size:14px;cursor:pointer;}
.quc-form-tips a.a1{padding-left:2px;color:#ffa000;text-decoration: underline;}
.findpwd-header{background: #e8e8e8;padding: 10px 0;width: 100%;}
.findpwd-header .header-content{margin: 0 auto;width: 700px;}
.findpwd-header .header-content .switch-login {color: #7d7d7d;float: right;font-size: 14px;line-height: 48px;}
.findpwd-header .header-content .switch-login {padding-left: 100px;position: relative;}
.findpwd-header .header-content .switch-login, .page-title, .logo {display: inline-block;*display: inline-block;vertical-align: middle;*zoom: 1;}
.findpwd-header .logo{background: url(../images/login.png);height: 41px;margin-right: 25px;width: 124px;}
.findpwd-header .header-content .page-title {border-left: 1px solid #929292;color: #222;font-size: 20px;height: 30px;line-height: 30px;padding-left: 25px;}
.findpwd-header .header-content .page-title a:hover{color:#ffa000;}
#doc1, #doc2, #doc3 {margin: auto;min-width: 760px;text-align: left;zoom: 1;}
#doc3 {position: relative;width: 980px;}
.choose-to-app, .check-failed, .no-chance {color: #333;font-size: 14px;}
.wrap-content {margin: 72px auto 0;width: 700px;}
.content-title {background: #fff;border-bottom: 2px solid #f5f5f5;color: #222;font-size: 20px;padding: 20px;text-align: center;}
.content-main {background: #fff;overflow: hidden;}
.con-wrap {margin: 0 auto;padding: 50px 0;}
.account-tip {font-size: 14px;margin: 0 auto 20px;padding-left: 5px;width: 370px;}
.check-account-form ul {margin: 0 auto;width: 370px;}
.check-account-form .account-item {display: inline-block;*display: inline-block;width: 100%;*zoom: 1;}
.gray-outline {border: 1px solid #e6e6e6;border-radius: 3px;}
.tip-info {color: red;display: block;height: 20px;margin: 7px 0;}
.quc-fixIe6margin {display: inline-block;}
.input-bg {display: inline-block;*display: inline-block;height: 42px;*height: 40px;margin: 0;vertical-align: middle;width: auto;*zoom: 1;}
.check-account-form .account-icon {background: url(../images/t01bcac1258460cdd4c.png);display: inline-block;*display: inline-block;height: 18px;margin: 0 0 0 8px;vertical-align: middle;width: 18px;*zoom: 1;}
.outline-input {border:solid 1px #fff;color: gray;font-size: 14px;height: 21px;line-height: 21px;margin: 4px;outline: none;padding: 6px 7px;}
.text-long {width: 316px;}
.check-account-form .pic-refresh {cursor: pointer;height: 42px;margin-left: 10px;width: 109px;}
.code {vertical-align: middle;}
.check-account-form .check-account {margin-top: 50px;}
.findpwd-btn {background:#32a4ff;border-radius: 4px;color: #fff;display: block;font-size: 14px;}
.findpwd-btn, .findpwd-close-btn {cursor: pointer;font-weight: 700;height: 40px;line-height: 40px;text-align: center;width: 100%;}
.findpwd-succeed .content-main p {font-weight: bolder;font-size: 14px;text-align: center;}
.reg-succeed-icon {background: url(../images/t01148104b8c0d9f119.png) no-repeat;display: inline-block;*display: inline-block;height: 32px;margin: 40px auto 30px;width: 32px;*zoom: 1;}
.findpwd-succeed .content-main {padding: 40px 0 80px;}
#ft, #ft a {color: #999;}
#ft {padding: 45px 0 45px;text-align: center;}
#ft  p{line-height:28px;}
.set-new-password {margin: 0 auto;width: 400px;}
.set-new-password .set-password-tip {margin-bottom: 15px;font-size:12px;}
.set-new-password .password-input {width: 376px;}
.gray {color: #999!important;}
.choose-question-type {margin: 0 auto;width: 340px;}
.choose-question-type .k {display: inline-block;*display: inline-block;font-weight: bolder;height: 44px;line-height: 44px;*zoom: 1;}
.choose-question-type .question-text {margin-left: 28px;}
address, caption, cite, code, dfn, em, th, var, optgroup {font-style: normal;font-weight: 400;}
.choose-question-type .question-input {float: right;}
.choose-question-type .question-tip {margin-bottom: 15px;font-size:12px;}
.choose-mobile-type {margin: 0 auto;width: 400px;}
.choose-mobile-type .mobile-type-tip {margin-bottom: 20px;font-size:12px;color:#13ad68}
.user-account {color: #22ac69;}
.choose-mobile-type .get-sms-token {background: #32a4ff;border-radius: 5px;border: 1px solid #32a4ff;color: #fff;cursor: pointer;float: right;font-weight: bolder;height: 42px;line-height: 42px;text-align: center;width: 98px;}
.text-short {width: 221px;}
.text-short-w370 {width: 370px;}
.choose-email-type {margin: 0 auto;text-align: center;width: 400px;}
.choose-email-type .send-email-bg {margin-bottom: 15px;}
.choose-email-type .send-email-icon {background: url(../images/t01867f2863c48211a0.png) no-repeat;display: block;height: 92px;margin: 0 auto;width: 83px;}
.choose-email-type .email-type-tip {color: #333;font-size:12px;font-weight: bolder;}
.choose-email-type .send-email-tip {color: #828282;font-size:12px;}
.choose-email-type .emal-type-btn {margin-top: 70px;}
.choose-email-type .emal-type-btn a {color: #fff;}
.findpwd-btn, .findpwd-close-btn {cursor: pointer;font-weight: 700;height: 40px;line-height: 40px;text-align: center;width: 100%;}
.choose-email-type .email-type-back {background: #fff;border: 1px solid #22ac69;color: #22ac69;margin: 25px 0 15px;}
.choose-findpwd-type {font-size: 14px;margin: 0 65px;}
.choose-findpwd-type p{margin-bottom: 20px;}
.choose-findpwd-type li {background: #f5f5f5;border: 1px solid #e8e8e8;height: 60px;margin-bottom: 40px;position: relative;}
.choose-findpwd-type li .complaint-tip {color: #999;font-size: 14px;position: absolute;top: -32px;}
.choose-findpwd-type .icon-wrap {float: left;margin: 12px 0 0 18px;}
.quc-fixIe6margin {display: inline-block;}
.choose-findpwd-type .go-complaint-icon {background: url(../images/t01b51dd0f9b13c2394.png) no-repeat;}
.choose-findpwd-type .check-icon {display: inline-block;*display: inline-block;height: 36px;width: 34px;*zoom: 1;}
.choose-findpwd-type .check-type-info {float: left;height: 60px;line-height: 60px;margin-left: 30px;}
.choose-findpwd-type .begain-check:active {background: #32a4ff;}
.choose-findpwd-type .begain-check{background: #32a4ff;border-radius: 4px;color: #fff;cursor: pointer;float: right;height: 34px;line-height: 34px;margin: 14px 30px;padding: 0 15px;text-align: center;}
.check-failed .check-failed-icon, .no-chance .check-failed-icon {background: url(../images/t014c253e22a5f9a349.png) no-repeat;height: 65px;margin: 0 auto 30px;width: 65px;}
.check-failed .check-failed-tip1, .no-chance .check-failed-tip1 {font-size: 16px;margin: 0 0 10px;}
.check-failed .check-failed-tip2, .no-chance .check-failed-tip2 {color: #8c8c8c;font-size: 12px;}
.check-failed .con-wrap, .no-chance .con-wrap {margin: 0 auto;width: 370px;}
.check-failed .btn-wrapper, .no-chance .btn-wrapper {margin: 34px 0 15px;}
.check-failed, .no-chance {text-align: center;}
.findpwd-close-btn, a.link {color: #32a4ff;}
.findpwd-close-btn {background: #fff;border: 1px solid #32a4ff;border-radius: 4px;display: block;}
.mobile-type-back {float: right;}
.sms-token-tip{font-size:12px;padding-top:10px;}
.layui-input-block-pwd{margin-left: 92px;min-height: 36px;}
.layui-form-label-pwd{float: left;display: block;width: 80px;font-weight: 400;line-height: 20px;}
.choose-findpwd-type .check-phone-icon {background: url(../images/t011276f0bea700713f.png) no-repeat;}
.choose-findpwd-type .check-email-icon {background: url(../images/t01c461303fd5c6c457.png) no-repeat;}
.choose-findpwd-type .check-secemail-icon {background: url(../images/t01e08a9b82d69edace.png) no-repeat;}
.layui-icon.input-pos-bind{position: absolute;left: 10px;top: 10px;color: #bbb;font-size:22px;}
.text-indent-w30{text-indent:30px;}
.str_wrap {overflow:hidden;height:17px;width:100%;line-height:17px;position:relative;-moz-user-select: none;-khtml-user-select: none;user-select: none;  background:#fff;white-space:nowrap;}
.str_wrap.str_active {background:#fff;}
.str_move {white-space:nowrap;position:absolute; top:0; left:0;cursor:move;}
.str_move_clone {display:inline-block;vertical-align:top;position:absolute; left:100%;top:0;}
.str_vertical .str_move_clone {left:0;top:100%;}
.str_down .str_move_clone {left:0;bottom:100%;}
.str_vertical .str_move,.str_down .str_move {white-space:normal;width:100%;}
.str_static .str_move,.no_drag .str_move,.noStop .str_move{cursor:inherit;}
.str_wrap img {max-width:none !important;	}
.email-tip{position:absolute;right:30px;top:7px;}
.email-tip .layui-icon{font-size:30px;color:#aaa}
.email-tip .layui-icon a{display:block;width:100%;height:100%;}
.email-tip .layui-badge{position: absolute;padding:0px 5px;top:0px;right:-20px;height:17px;line-height:17px;}
.email-tip a{text-decoration: none;}
.user-main-box{background-color:#fff;margin-top:2px;padding:10px 0px 20px 0px;border:solid 1px #e7ebee;min-height:560px;}
.user-top-title{border-bottom:solid 1px #ebeff2;}
.user-top-title-ul{position:relative;height:40px;}
.user-top-title-ul ul{position:absolute;height:40px;top:-1px;padding:0px 10px;left:0px;font-family: Microsoft YaHei;}
.user-top-title-ul ul li{float:left;position:relative;cursor:pointer; height:40px;line-height:40px;font-size:18px;padding:0 20px;margin:0 10px;}
.user-top-title-ul ul li.cur{border-bottom:solid 2px #ff9933}
.user-top-title-ul ul li a{text-decoration: none;color:#333333;}
.user-top-title-ul ul li span{display:none;}
.user-top-title-ul ul li.cur a{color:#ff9933;}
.user-top-title-ul ul li.cur span{cursor:pointer;display:block;width:80px;height:30px;line-height:30px;position:absolute;left:650px;bottom:0px;color:#fff;background-color:#ed8927;text-align:center;border-radius:3px;font-size:16px;}
.user-center-box{padding:10px 20px 0px 20px;}
.user-center-select{padding-top:20px;position:relative;}
.user-center-select ul li{height:40px;line-height:40px;float:left;font-sizee:16px;font-family:Microsoft YaHei;padding:0px 20px;color:#999999;}
.user-center-select ul li a{color:#333333;}
.user-center-select ul li.cur a,.user-center-select ul li a:hover{color:#ed8927;}
.user-center-cz-search{position:absolute;right:20px;top:30px;width:340px;height:34px;border:solid 1px #cccccc}
.user-center-keybox{position:absolute;top:2px;}
.user-center-keybox input{width:280px;height:32px;line-height:32px;border:none;text-indent:10px;}
.user-center-sub{position:absolute;right:15px;top:8px;height:18px;border-left:solid 1px #cccccc;padding-left:20px;}
.user-center-sub input{width:18px;height:18px;cursor:pointer;background:url(../images/zc_06.jpg) no-repeat;border:none;}
.user-list-page-box{padding:30px 0px 10px 0px;}
.user-list-page{text-align:right;}
.user-list-page a{padding:5px 10px;background-color:#eeeeee;border-radius:2px;margin:5px;text-decoration: none;}
.user-list-page a.cur,.user-list-page a:hover{background-color:#ed8927;color:#fff;}
.user-list-page a.nopage{background-color:#efefef;color:#aaa;}
.user-list-page a.nopage:hover{background-color:#efefef;color:#aaa;}
.white-bg{background-color:#fff;}
.cz-detail-img{text-align:center;max-width:1200px;overflow:hidden;margin-bottom:40px;}
.cz-detail-img img{max-width:1200px;}
.user-detail-timeline-box{padding:0px 50px 40px;position:relative;}
.user-detail-timeline-box .timeline-span{width:150px;height:32px;line-height:32px;overflow:hidden;position:absolute;right:0px;top:0px;}
.timeline-left-menu{position:absolute;top:0px;right:1010px;border-right:solid 1px #d9d9d9}
.timeline-list{padding-left:200px;padding-top:45px;padding-bottom:200px;}
.timeline-list ul li{padding-bottom:50px;}
.timeline-list ul li h1{color:#333333;font-size:24px;padding-bottom:20px;}
.timeline-list ul li h1 a{color:#333333;text-decoration:none;}
.timeline-list ul li .desc{color:#666666;font-size:18px;line-height:32px;}
.timeline-left-menu ul li{cursor:pointer;margin:40px 0px;height:24px;line-height:24px;width:200px;position:relative;}
.timeline-left-menu ul li span{font-size:16px;color:#666;position:absolute;right:0px;top:0px;width:150px;text-align:right;padding-right:25px;}
.timeline-left-menu ul li.active span{font-size:18px;color:#333;}
.timeline-left-menu ul li .layui-timeline-axis{right:-11px;left:inherit;color:#ed8927;display:none;}
.timeline-left-menu ul li.active .layui-timeline-axis{right:-11px;left:inherit;color:#ed8927;display:block;}
.timeline-left-menu ul li a{text-decoration: none;}
.user-nitice-center{width:680px;float:left;background-color:#fff;border:solid 1px #e7ebee;padding:10px 0px 20px 0px;}
.user-top-title-ul2{position:relative;height:40px;}
.user-top-title-ul2 ul{position:absolute;height:40px;top:-1px;padding:0px 20px;left:0px;font-family: Microsoft YaHei;}
.user-top-title-ul2 ul li{float:left;height:40px;line-height:40px;font-size:18px;margin:0 20px;}
.user-top-title-ul2 ul li.cur{border-bottom:solid 2px #ff9933;color:#ff9933;}
.user-top-title-ul2 ul li a{text-decoration: none;color:#ff9933;}
.user-top-title-ul2 ul li.cur a{color:#ff9933;}
.user-top-title-ul3{position:relative;height:40px;}
.user-top-title-ul3 ul{position:absolute;height:40px;top:-1px;padding:0px 5px;left:0px;font-family: Microsoft YaHei;}
.user-top-title-ul3 ul li{float:left;height:40px;line-height:40px;font-size:18px;margin:0 20px;color:#ff9933;}
.user-top-title-ul3 ul li.cur{border-bottom:solid 2px #ff9933}
.user-top-title-ul3 ul li a{text-decoration: none;color:#ff9933;}
.user-top-title-ul3 ul li.cur a{color:#ff9933;}
.user-top-title-ul3 a.a1{position:absolute;right:10px;top:13px;color:#b4b5b6;}
.user-top-title-ul3 a.a1:hover{text-decoration: none;}
.user-notice-list{padding:20px 30px;}
.user-notice-list ul li{height:40px;color:#333;line-height:40px;padding-left:20px;overflow:hidden;background:url(../images/d_03.jpg) no-repeat left center;}
.user-notice-list ul li a{color:#333333}
.user-notice-list ul li a:hover{color:#ff9933}
.user-notice-list ul li span{float:right;padding-left:30px;}
.user-notice-page{padding:50px 0px 30px 0px;text-align:center;}
.user-notice-page a{padding:6px 12px;background-color:#eeeeee;margin:0px 5px;text-decoration: none;}
.user-notice-page a.active,.user-notice-page a:hover{background-color:#ed8927;color:#fff;}
.user-notice-page a.pre{padding:6px 16px;margin:0px 5px;background:#eeeeee url(../images/dot_11.png) no-repeat center center;}
.user-notice-page a.next{padding:6px 16px;margin:0px 5px;background:#eeeeee url(../images/dot_13.png) no-repeat center center;}
.user-notice-page span.sp1{padding:0 10px;}
.user-notice-page input.page-input{width:30px;margin-right:5px;background-color:#eee;border:none;height:26px;text-align:center;line-height:26px;}
.user-notice-page input.bnt{background:none;border:none;cursor:pointer}
.bshadow1{box-shadow: 2px 2px 5px 6px #e7eaec;}
.user-notice-w300{width:300px;float:right;}
.user-notice-h150{height:150px;border: solid 1px #e7ebee;}
.user-notice-h800{height:800px;}
.user-bnt-cz{text-align:center;padding:50px 0 20px 0px;}
.user-bnt-cz a{padding:10px 70px;background-color:#ff9900;color:#fff; text-decoration: none;border-radius:3px;}
.user-bnt-cz a:hover{color:#fff}
.user-uname-time{text-align:center;padding:5px 10px;color:#7b7878;height:24px;line-height:24px;overflow:hidden;}
.user-notice-h650{height:650px;border: solid 1px #e7ebee;padding-top:7px;}
.user-notice-rlist{padding-left:10px;}
.user-nitice-w100{background-color:#fff;border:solid 1px #e7ebee;padding:20px 0px 20px 0px;}
.user-notice-detail-title{font-size:24px;padding:40px 30px 15px 30px;text-align:center;color:#333333;line-height:32px;}
.user-notice-detail-time{font-size:16px;text-align:center;padding:10px;color:#333}
.user-notice-detail-content {padding:30px;color:#333}
.user-notice-detail-content p.p1{line-height:32px;padding-bottom:15px;text-indent:30px;}
.user-modify-content{padding:30px;}
.user-info .user-modify-content{padding:10px 30px 30px 30px;}
.user-modify-content .tip{color:#ff3333}
.user-modify-form{padding:30px 15px;color:#333333;}
.user-modify-bb{border-bottom:solid 1px #e6e6e6;padding-bottom:40px;}
.user-modify-w400{width:400px;}
.user-modify-sub{text-align:center;}
.user-modify-sub .layui-btn{width:150px;background-color:#ed8927;}
.user-modify-form .layui-input{background-color:#fafafa;border:none;}
.user-modify-w400r{width:400px;position:relative}
.modify-text{position:absolute;left:30px;top:80px;}
.modify-text-img-box{width:200px;height:200px;border:solid 1px #c0c0c0;position:absolute;left:150px;top:0px;}
.modify-text-img-box a{display:block;width:100%;text-decoration:none;color:#808080;height:100%;background-color:#fafafa;text-align:center;line-height:200px;font-size:30px;}
.modify-text2{position:absolute;left:30px;top:50px;color:#ed8927;}
.modify-text-img-box img{width:200px;height:200px;}
.modify-text-img-box2{width:200px;height:130px;background-color:#fafafa;border:solid 1px #c0c0c0;position:absolute;left:150px;top:0px;}
.modify-text-img-box2 a{position:absolute;left:0px;top:0px;z-index:2;display:block;width:100%;text-decoration:none;color:#808080;height:100%;text-align:center;line-height:110px;font-size:30px;}
.modify-text-img-box2 img,.modify-text-img-box3 img{width:200px;height:130px;}
.modify-text-img-box3{width:200px;height:130px;background-color:#fafafa;border:solid 1px #c0c0c0;position:absolute;left:150px;top:200px;}
.modify-text-img-box3 a{position:absolute;left:0px;top:0px;z-index:2;display:block;width:100%;text-decoration:none;color:#808080;height:100%;text-align:center;line-height:110px;font-size:30px;}
.modify-text-img-box2 .itext,.modify-text-img-box3 .itext{position:absolute;color:#808080;width:100%;left:0px;top:75px;z-index:1;text-align:center;}
.user-modify-form .layui-textarea{background-color:#fafafa;}
.input-file{position:absolute;left:0px;top:0px;display:block;cursor:pointer;z-index:3;width:100%;height:100%;filter:alpha(opacity=0);-moz-opacity:0.0;opacity:0.0; }
#col-user-info-title li{cursor:pointer;}
.user-info-msg{padding:30px 20px 30px 50px;border-bottom:solid 1px #d9d9d9;position:relative;}
.user-info-tx{float:left;width:108px;height:108px;}
.user-info-tx img{width:108px;height:108px;}
.user-info-modify{position:absolute;right:20px;top:60px;}
.user-info-modify a{padding:7px 20px;text-decoration:none;border:solid 1px #cccccc;border-radius:5px;color:#333;font-size:18px;}
.user-info-desc{padding-left:150px;}
.user-info-uname{font-size:30px;color:#333;padding-bottom:15px;}
.user-info-uname span{margin-left:20px;font-weight:bold;background-color:#f2f2f2;color:#f50f0f;padding:3px 7px;font-size:14px;}
.user-info-text{color:#808080;font-size:18px;padding-right:200px;}
.user-info-w190{width:190px;float:left;font-size:18px;}
.user-info-w274{width:275px;float:left;font-size:18px;}
.user-info-msg-modify{position:absolute;right:30px;top:25px;font-size:18px;}
.user-color{color:#333;}
.user-color2{color:#ed8927;}
.user-info-h70{height:70px;line-height:70px;}
.user-info-f16{font-size:16px;}
.user-info-m .user-info-msg{padding:30px 0px 30px 20px;}
.user-info-msg font.f1{color:#f50f0f}
.user-info-msg font.f2{color:#ed8927}
.user-info-mobile{font-size:16px;}
.user-info-h200{height:200px;}
.user-collect-share{position:absolute;right:0px;top:15px;}
.user-collect-share span{background-color:#eee;padding:2px 5px;}
.user-collect-share span.sp1{color:#f50f0f;}
.user-collect-share span.sp2,.user-collect-share span.sp2 a{color:#ed8927;}
.user-income-box ul{padding-top:60px;padding-bottom:30px;}
.user-income-box ul li{height:85px;float:left;width:33%;border-right:solid 1px #ebeff2;text-align:center;}
.user-income-box ul li.nb{border:none;}
.user-income-box ul li p{color:#7b7878;padding-bottom:15px;font-size:16px;color:#7b7878;}
.user-income-box ul li h1{font-size:40px;color:#000000;line-height:48px;}
.sub-income-bnt{height:40px;text-align:center;padding-top:40px;}
.sub-income-bnt a{font-size:18px;border-radius:8px;color:#fff;background-color:#ed8927;padding:12px 50px;text-decoration: none;}
.sub-income-bnt a:hover{background-color:#e58220;color:#fff;}
.income-list{padding:30px 20px;}
.income-list-title{font-size:18px;}
.income-list-date{margin-top:20px;position:relative;color:#666;font-size:16px;height:36px;line-height:36px;}
.user-income-dspan{position:absolute;left:0px;top:0px;}
.user-income-ispan{width:285px;height:34px;border:solid 1px #f0f0f0;position:absolute;left:180px;top:0px;}
.user-income-yspan{position:absolute;right:0px;top:0px;}
.user-income-dspan span.sp50{padding-right:50px;}
.user-income-inputl{width:110px;background-color:#eee;float:left;height:34px;line-height:34px;border:none;text-align:center;}
.user-income-inputr{width:110px;background-color:#eee;float:right;height:34px;line-height:34px;border:none;text-align:center;}
.user-income-tablelist{padding:10px 0px;}
.user-income-tablelist .layui-table td, .layui-table th{text-align:center;}
.user-income-tablelist .layui-table th{text-align:center;}
.user-income-pages{text-align:center;padding:30px 0px;border-left:solid 1px #e6e6e6;border-bottom:solid 1px #e6e6e6;border-right:solid 1px #e6e6e6;}
.user-income-tablelist .layui-table, .user-income-tablelist .layui-table-view{margin-bottom:0px;}
.user-income-pages .user-list-page{float:inherit;text-align:center}
.user-income-tablelist{min-height:450px;}
.user-income-tip{padding-top:20px;color:#333;}
.user-income-ispan-line{width:20px;height:2px;background-color:#ccc;position:absolute;left:132px;top:16px;}
.user-art-inbox{padding:20px 40px;}
.user-art-inbox .layui-form-label{width:70px;font-size:16px;padding-left:0px;}
.user-art-inbox .layui-form-label span{padding-right:15px;}
.user-art-inbox .w420{width:420px;}
.user-art-inbox .layui-input.w200{width:190px;}
.user-art-inbox .h38{height:38px;overflow:hidden;}
.user-art-inbox .layui-textarea{height:500px;}
.user-art-inbox .layui-form-item{margin-bottom:30px;}
.user-art-inbox .layui-form-item .layui-textarea{border:none;}
.user-art-inbox .tip{padding:6px;background:url(../images/zz_03.jpg) no-repeat center 4px;cursor:pointer}
.user-art-inbox .layui-form-checked[lay-skin=primary] i{border-color: #626262!important;background-color: #626262;color: #fff;}
.user-art-inbox .layui-input-block{margin-left:90px;}
.user-art-inbox .layui-form-select dl dd.layui-this{background-color: #ff9900;}
.user-art-inbox .inputal{text-align:center;padding-left:0px;}
.user-art-inbox .w730{width:730px;margin:0 auto;padding:0;}
.user-art-inbox .w730 .box{margin-top:35px;border-top:solid 1px #e5e5e5;padding-top:30px;}
.user-insert-t1{font-size:18px;color:#333}
.user-insert-uploadb{padding:20px 0px 0px 0px}
.user-art-inbox .w200-h150{width:200px;height:150px;text-align:center;float:left;border:dashed 1px #d9d9d9;border-radius:5px;position:relative;}
.user-art-inbox .w200-h150 .text{color:#666;padding-top:100px;}
.user-art-inbox .w200-h150 a{z-index:1;color:#b3b3b3;position:absolute;left:0px;top:0px;display:block;width:100%;height:150px;line-height:150px;font-size:30px;text-decoration: none;}
.user-art-inbox .w200-h150 .imgbox{position:absolute;z-index:2;left:0px;top:0px;width:200px;height:150px;overflow:hidden;}
.user-art-inbox .w200-h150 .imgbox img{width:200px;height:150px;}
.user-art-inbox .w200-h150 input{cursor:pointer;z-index:3;position:absolute;left:0px;top:0px;width:200px;height:150px;filter:alpha(opacity=0);-moz-opacity:0.0;opacity:0.0; }
.user-art-inbox .w480-h150{width:480px;height:150px;float:right;position:relative;}
.user-art-inbox .layui-textarea.h150{height:150px;}
.user-art-inbox .w480-h150 .text{position:absolute;color:#808080;right:0px;bottom:0px;width:50px;height:32px;line-height:32px;}
.user-art-inbox .box .layui-input-block{margin-left: 95px;min-height: 36px;}
.user-art-inbox .box .layui-form-label{width:80px;color:#333;}
.user-art-inbox .box .h70{height:70px;border:none;background-color:#fafafa}
.user-art-insert-bnt{padding:20px 0px;text-align:center;}
.user-art-insert-bnt button{margin:0 40px;background-color:#ed8927;font-size:24px;color:#fff;padding:7px 40px;border:none;border-radius:10px;}
.user-art-insert-btip{padding:30px 0px;color:#666;line-height:32px;}
.user-art-insert-btip h1{font-size:18px;}
.user-art-inbox input{border:none;background-color:#fafafa}
.user-article-content{padding:10px 30px 30px 30px;background:#fff url(../images/artt_03.jpg) repeat-x top;}
.user-article-h100{width:100%;min-height:100px;}
.user-article-search{position:absolute;right:20px;top:0px;width:340px;height:34px;border:solid 1px #cccccc}
.user-article-w405{width:505px;}
.user-article-seltype{height:30px;line-height:30px;font-size:16px;color:#807d7d;}
.user-article-seltype a{color:#333232;padding:0px 0px 0px 50px;text-decoration:none;}
.user-article-seltype a.active,.user-article-seltype a:hover{color:#ff9900;}
.user-article-seldata{margin-top:30px;height:34px;line-height:34px;font-size:16px;color:#807d7d;}
.user-article-ispan{width:285px;height:34px;border:solid 1px #f0f0f0;position:absolute;left:115px;top:0px;}
.user-article-search-tip{padding:45px 0px 20px 0;font-size:16px;color:#333;}
.user-article-search-tip span{padding:0px 5px;color:#ed8927;}
.user-article-listul ul li{border-bottom:solid 1px #cccccc;padding:20px 0px;position:relative;}
.user-article-listul ul li .list-text{padding-right:150px;}
.user-article-listul ul li .list-text img{float:left;margin-right:20px;margin-top:5px;width:108px;max-height:81px;height:81px;}
.user-article-listul ul li .title{font-size:18px;background:url(../images/art_07.jpg) no-repeat left 10px;padding-left:20px;}
.user-article-listul ul li .title a{color:#333}
.user-article-listul ul li .title a:hover{color:#ff9900;}
.user-article-listul ul li .c{padding:15px 20px 0px 20px;color:#666666;}
.user-article-listul ul li .c span{padding:0px 10px;}
.user-article-listul ul li .otbox{font-size:12px;padding:15px 20px 0px 20px;color:#999}
.user-article-listul ul li .otbox span{padding:5px 10px;}
.user-article-listul ul li .otbox span.sp1{background-color:#eee;}
.user-article-listul ul li .otbox span.sp3{padding:0px 10px;color:#ed8927}
.user-article-listul ul li .otbox a{color:#999}
.user-article-listul ul li .otbox a:hover{color:#ed8927}
.user-article-listul ul li .optbox{width:70px;position:absolute;right:0px;top:20px;font-size:12px;}
.user-article-listul ul li .optbox a.a1{margin-bottom:10px;color:#666;float:right;background-color:#ededed;padding:2px 10px;text-decoration: none;}
.user-article-listul ul li .optbox a.a1:hover{color:#ff9900;}
.user-article-listul ul li .optbox .w69{width:69px;}
.user-article-listul ul li .otbox font.f1{color:#999999}
.user-article-listul ul li .otbox font.f2{color:#ed8927}
.user-article-listul ul li .otbox font.f3{color:#f50f0f;}
.user-article-listul ul li .desc{padding:15px 20px 0px 20px;color:#f50f0f;}
.user-hd-top-banner img{width:100%;}
.user-hd-lmenu{height:32px;overflow:hidden;margin-top:20px;}
.user-hd-lmenu ul{padding-right:80px;}
.user-hd-lmenu ul li{float:left;height:30px;border:solid 1px #fff;line-height:30px;cursor:pointer;padding:0px 15px;font-size:16px;border-radius:20px;margin:0px 20px 20px 0px;}
.user-hd-lmenu ul li.active{border:solid 1px #ed8927}
.user-hd-lmenu{position:relative;}
.user-hd-lmenu .t-show{display:none;position:absolute;right:0px;top:2px;background-color:#eeeeee;width:80px;height:32px;line-height:32px;text-indent:20px;cursor:pointer; }
.user-hd-lmenu .t-show span{position:absolute;right:15px;top:10px;width: 0;height: 0;}
.user-hd-lmenu .t-show span.tr{border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 10px solid #333}
.user-hd-lmenu .t-show.active span.tr{border:none;border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 10px solid #333}
.user-hd-inlist{padding-top:20px;}
.user-hd-inlist ul li{padding:20px 0px 0px 30px;position:relative;}
.user-hd-inlist ul li .tip{position:absolute;left:0px;top:20px;font-size:18px;color:#333333}
.user-hd-inlist ul li:nth-child(1) .tip,.user-hd-inlist ul li:nth-child(2) .tip,.user-hd-inlist ul li:nth-child(3) .tip{color:#ed8927}
.user-hd-inlist ul li img{float:left;width:120px;height:90px;border-radius:10px;margin-right:20px;}
.user-hd-inlist ul li .d1{border-bottom:solid 1px #cccccc;height:110px;overflow:hidden;color:#333;}
.user-hd-inlist ul li .title{font-size:16px;margin-bottom:10px;height:20px;overflow:hidden;}
.user-hd-inlist ul li .title a{color:#333;}
.user-hd-inlist ul li .title a:hover{color:#ed8927;}
.user-hd-inlist ul li .desc{max-height:40px;overflow:hidden;}
.user-hd-inlist ul li .view{font-size:12px;margin-top:10px;}
.user-hd-pllist ul li{padding:20px;}
.user-hd-pllist ul li .w60{width:60px;height:100px;float:left;margin-right:20px;overflow:hidden;}
.user-hd-pllist ul li .uname{text-align:center;color:#333;padding-top:5px;}
.user-hd-pllist ul li .uname a{color:#333;}
.user-hd-pllist ul li .title{color:#333;font-size:16px;height:24px;line-height:24px;overflow:hidden;}
.user-hd-pllist ul li .title a{color:#333;position:relative;display:block;max-width:700px;float:left;}
.user-hd-pllist ul li .title a:hover{color:#ff9933}
.user-hd-pllist ul li .title .pos{position:absolute;top:0px;right:-10px;font-size:14px;color:#999;}
.user-hd-pllist ul li .title .pos-time{position:absolute;left:0px;top:0px;word-break:keep-all;white-space:nowrap;}
.user-hd-pllist ul li .pos-content{padding:10px 0px;max-height:50px;overflow:hidden;}
.user-hd-pllist ul li .pos-opera{color:#808080;padding-top:5px;}
.user-hd-pllist ul li .pos-opera a{color:#808080;}
.user-hd-pllist ul li .pos-opera a.a1{background:url(../images/hd-p_16.jpg) no-repeat;padding-left:20px;padding-right:30px;}
.user-hd-pllist ul li .pos-opera a.a1:hover,.user-hd-pllist ul li .pos-opera a.a2:hover,.user-hd-pllist ul li .pos-opera a.a3:hover,.user-hd-pllist ul li .pos-opera a.a4:hover{color:#ff9933}
.user-hd-pllist ul li .pos-opera a.a2{background:url(../images/hd-p_10.jpg) no-repeat;padding-left:20px;padding-right:30px;}
.user-hd-pllist ul li .pos-opera a.a3{background:url(../images/hd-p_07.jpg) no-repeat;padding-left:20px;padding-right:30px;}
.user-hd-pllist ul li .pos-opera a.a4{background:url(../images/hd-p_13.jpg) no-repeat;padding-left:20px;padding-right:30px;}
.user-hd-page{text-align:center;padding:20px;}
.user-hd-page a{padding:10px 25px;border-radius:5px;background-color:#eeeeee;font-size:16px;color:#808080;text-decoration:none;;}
.user-hd-page a:hover{background-color:#ff9933;color:#fff;}
.user-hd-report{position:absolute;display:none;left:0px;top:0px;width:100%;height:100%;}
.user-hd-report .bg{z-index:1;position:absolute;left:0px;top:0px;display:block;filter:alpha(opacity=75);-moz-opacity:0.75;opacity:0.75; width:100%;height:100%;background-color:#000;}
.user-hd-report-form-box{padding:50px;}
.user-hd-report-form{z-index:2;width:870px;height:515px;background-color:#fff;position:absolute;top:100px;left:60px;}
.user-hd-report-form .close{font-size:14px;height:20px;width:20px;text-align:center;line-height:20px;position:absolute;right:10px;top:10px;font-family:Gill Sans MT;}
.user-hd-report-form .close a{text-decoration:none;display:block;width:100%;height:100%;border-radius:50%;}
.user-hd-report-form .close a:hover{background-color:#eee;}
.user-hd-report-form .title-box{height:57px;}
.user-hd-report-form .layui-input{height:57px;line-height:57px;border:solid 1px #ccc}
.user-hd-report-form .content-box{border-bottom:solid 1px #ccc;position:relative;}
.user-hd-report-form .ibbs{border:solid 1px #ccc}
.user-hd-report-form .mb30{margin-bottom:30px;}
.user-hd-report-form .content-box .layui-textarea{width:620px;height:230px;border:none;outline:none;resize: none;}
.user-hd-report-form .content-box .fileclass1{width:74px;height:230px;}
.user-hd-report-form .content-box .filebox1{overflow:hidden;width:75px;border-left:solid 1px #ccc;height:230px;position:absolute;right:0px;top:0px;background:#fafafa url(../images/hdz_03.png) no-repeat center center;}
.user-hd-report-form .content-box .filebox2{overflow:hidden;width:75px;border-left:solid 1px #ccc;height:230px;position:absolute;right:76px;top:0px;background:#fafafa url(../images/hdz_06.png) no-repeat center center;}
.user-hd-report-form .content-box .filebox1:hover,.user-hd-report-form .content-box .filebox2:hover{background-color:#f2f0f0}
.user-hd-report-form .content-box input{cursor:pointer;width:74px;height:230px;filter:alpha(opacity=0);-moz-opacity:0;opacity:0; }
.user-hd-report-form .h80{height:57px;padding-top:23px;}
.user-hd-report-form .h36{height:36px;line-height:36px;padding:0px 25px;}
.user-hd-report-form .w255h36{width:255px;height:36px;float:left;border-right:solid 1px #ccc;position:relative;}
.user-hd-report-form .w255h36 a.ka1{position:absolute;left:20px;top:7px;display:block;width:27px;height:26px;background:url(../images/hdgif_06.jpg) no-repeat;}
.user-hd-report-form .w255h36 a.ka2{position:absolute;left:70px;top:7px;display:block;width:27px;height:26px;background:url(../images/hdgif_08.jpg) no-repeat;}
.user-hd-report-form .w255h36 a.ka3{position:absolute;left:120px;top:7px;display:block;width:27px;height:26px;background:url(../images/hdgif_10.jpg) no-repeat;}
.user-hd-report-form .h36-sub{width:80px;height:36px;line-height:36px;font-size:18px;text-align:center;background-color:#ed8927;border:none;color:#fff;cursor:pointer;border-radius:5px;}
.user-hd-report-form .w440{width:440px;position:absolute;height:36px;left:300px;top:0px;}
.user-hd-report-form .layui-form-checked[lay-skin=primary] i {border-color: #626262!important;background-color: #626262;color: #fff;}
.user-hd-report-form  .w440text{padding-right:15px;}
.Input_Box {width: 495px;height: 160px;border: 1px solid #ccc;transition: border linear .2s, box-shadow linear .5s;-moz-transition: border linear .2s, -moz-box-shadow linear .5s;-webkit-transition: border linear .2s, -webkit-box-shadow linear .5s;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;background-color: #fff;overflow: hidden;position: absolute;-moz-box-shadow: 0 0 5px #ccc;-webkit-box-shadow: 0 0 5px #ccc;box-shadow: 0 0 5px #ccc;}
.Input_Box>textarea {width: 485px;height: 111px;padding: 5px;outline: none;border: 0px solid #fff;resize: none;font: 13px "微软雅黑", Arial, Helvetica, sans-serif;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.Input_Foot {width: 100%;height: 35px;border-top: 1px solid #ccc;background-color: #fff;-moz-border-radius: 0 0 5px 5px;-webkit-border-radius: 0 0 5px 5px;border-radius: 0 0 5px 5px;position: absolute;}
.postBtn {float: right;font: 13px "微软雅黑", Arial, Helvetica, sans-serif;color: #808080;padding: 9px 20px 7px 20px;border-left: 1px solid #ccc;cursor: pointer;-moz-border-radius: 0 0 5px 0;-webkit-border-radius: 0 0 5px 0;border-radius: 0 0 5px 0;}
.postBtn:hover {color: #333;background-color: #efefef;}
.postBtn:active {padding: 10px 20px 6px 20px;}
.faceDiv{display:none;width: 620px;height: 120px;border-top: 1px solid #ccc;position: absolute;background-color: #fff;-moz-border-radius: 5px 5px 0 0;-webkit-border-radius: 5px 5px 0 0;border-radius: 5px 5px 0 0;}
.faceDiv>img {border: 1px solid #ccc;float: left;margin-left: -1px;margin-top: -1px;position: relative;width: 24px;height: 24px;padding: 3px 3px 3px 3px;cursor: pointer;}
.faceDiv>img:hover {background-color: #efefef;}
.faceDiv>img:active {padding: 4px 3px 2px 3px;}
.user-hd-detail .h200{height:175px;background-color:#fafafa;margin-top:20px;padding:25px 50px 0px 50px;}
.user-hd-detail .h200 img{width:200px;height:148px;float:left;margin-right:30px;}
.user-hd-detail .h200 .title{padding-top:20px;font-size:24px;color:#333;}
.user-hd-detail .h200 .view{padding-top:15px;}
.user-hd-detail-content{padding:30px;}
.user-hd-detail-desc{font-size:18px;color:#333;line-height:36px;}
.user-hd-detail-content .opt{text-align:right;font-size:18px;padding:0px 0px 40px 0px}
.user-hd-detail-content .opt a{padding:10px 25px;background-color:#ed8927;color:#fff;text-decoration:none;margin:0px 0px 0px 20px;border-radius:10px;}
.user-hd-detail-content .opt a:hover{background-color:#de7916;}
.hd-detail-list{margin-top:60px;}
.hd-detail-list ul li.one{border-top:solid 1px #ccc;padding:15px 0px;position:relative}
.hd-detail-list ul li.one .ldiv{width:80px;float:left;text-align:center;}
.hd-detail-list ul li.one .ldiv img{width:80px;height:80px;}
.hd-detail-list ul li.one .ldiv p.p1{color:#333;max-height:32px;overflow:hidden;text-align:center;font-size:12px;padding-top:10px;}
.hd-detail-list ul li.one .ldiv p.p2{padding:10px 0px;}
.hd-detail-list ul li.one .ldiv p.p2 span{display:block;max-width:69px;overflow:hidden;height:26px;line-height:26px;color:#ff9900;border:solid 1px #ccc;padding:0px 10px;border-radius:5px;}
.hd-detail-list ul li.one .text{padding-left:105px;}
.hd-detail-list ul li.one .text .d1{font-size:16px;color:#333;}
.hd-detail-list ul li.one .text .d1 a{color:#333;}
.hd-detail-list ul li.one .text .d2{font-size:12px;color:#808080;padding-top:10px;}
.hd-detail-list ul li.one .replay{text-align:right;color:#f50f0f}
.hd-detail-list ul li.one .replay a{color:#f50f0f}
.hd-detail-list ul li.one .child-replay-box{padding:0px 0px 10px 105px;}
.hd-detail-list ul li.one .child-replay-list{background-color:#fafafa;padding:10px 15px;}
.hd-detail-list ul li.one .ldiv-child{width:50px;float:left;text-align:center;}
.hd-detail-list ul li.one .ldiv-child img{width:50px;height:50px;}
.hd-detail-list ul li.one .ldiv-child p.p1{color:#333;max-height:32px;overflow:hidden;text-align:center;font-size:12px;padding-top:10px;}
.hd-detail-list ul li.one .ldiv-child p.p2{padding:10px 0px;}
.hd-detail-list ul li.one .ldiv-child p.p2 span{display:block;max-width:69px;overflow:hidden;height:26px;line-height:26px;color:#ff9900;border:solid 1px #ccc;padding:0px 10px;border-radius:5px;}
.hd-detail-list ul li.one .text-child {padding-left:105px;}
.hd-detail-list ul li.one .text-child .d1{font-size:16px;color:#333;}
.hd-detail-list ul li.one .text-child .d1 a{color:#333;}
.hd-detail-list ul li.one .text-child .d2{font-size:12px;color:#808080;padding-top:10px;}
.hd-detail-list ul li.one ul li{border-bottom:solid 1px #ccc;padding-top:10px;padding-bottom:10px;position:relative;}
.hd-detail-list ul li.one ul li:last-child{border:none;}
.user-hd-replay-page{padding:10px 0px 10px 0px;text-align:right;}
.user-hd-replay-page a{padding:6px 12px;background-color:#eeeeee;margin:0px 5px;text-decoration: none;}
.user-hd-replay-page a.active,.user-notice-page a:hover{background-color:#ed8927;color:#fff;}
.user-hd-replay-page a.pre{padding:6px 16px;margin:0px 5px;background:#eeeeee url(../images/dot_11.png) no-repeat center center;}
.user-hd-replay-page a.next{padding:6px 16px;margin:0px 5px;background:#eeeeee url(../images/dot_13.png) no-repeat center center;}
.user-hd-replay-page span.sp1{padding:0 10px;}
.user-hd-replay-page input.page-input{width:30px;margin-right:5px;background-color:#eee;border:none;height:26px;text-align:center;line-height:26px;}
.user-hd-replay-page input.bnt{background:none;border:none;cursor:pointer}
.replay-ldiv-child{width:50px;float:left;text-align:center;margin-right:25px;}
.replay-ldiv-child img{width:50px;height:50px;}
.replay-ldiv-child p.p1{color:#333;max-height:32px;overflow:hidden;text-align:center;font-size:12px;padding-top:10px;}
.replay-ldiv-child p.p2{padding:10px 0px;}
.replay-ldiv-child p.p2 span{display:block;max-width:69px;overflow:hidden;height:26px;line-height:26px;color:#ff9900;border:solid 1px #ccc;padding:0px 10px;border-radius:5px;}
.user-replay-sub{padding:30px 0px;}
.user-replay-text{padding-left:80px}
.user-replay-text-form{border:solid 1px #ccc;position:relative;min-height:240px;}
.user-replay-text-sj{width:13px;height:14px;background:url(../images/sj_03.jpg) no-repeat;position:absolute;left:-13px;top:10px;}
.user-replay-h160{width:100%;height:160px;border-bottom:solid 1px #ccc;position:relative;}
.user-replay-textarea{width:750px;height:155px;border:none;padding:10px;resize:none;}
.user-replay-upload{width:78px;height:100%;position:absolute;right:0px;top:0px;border-left:solid 1px #ccc}
.user-replay-upload a{display:block;width:100%;height:100%;background:#fafafa url(../images/hdz_06.png) no-repeat center center;}
.user-replay-upload input{width:100%;height:100%;filter:alpha(opacity=0);-moz-opacity:0.0;opacity:0.0; }
.user-replay-upload a:hover{background-color:#f2f0f0}

.user-replay-bot .h36{height:36px;line-height:36px;padding:30px 25px 0px 25px;}
.user-replay-bot .w255h36{width:355px;height:36px;float:left;position:relative;}
.user-replay-bot .w255h36 a.ka1{position:absolute;left:0px;top:7px;display:block;width:27px;height:26px;background:url(../images/hdgif_06.jpg) no-repeat;}
.user-replay-bot .w255h36 a.ka2{position:absolute;left:50px;top:7px;display:block;width:27px;height:26px;background:url(../images/hdgif_08.jpg) no-repeat;}
.user-replay-bot .h36-sub{width:80px;height:36px;line-height:36px;font-size:18px;text-align:center;background-color:#ed8927;border:none;color:#fff;cursor:pointer;border-radius:5px;}
.user-replay-bot .w440{width:440px;position:absolute;height:36px;left:300px;top:0px;}
.user-h590{height:590px;overflow:hidden;}
.user-h1124{height:1124px;}

.user-income-tablelist2{padding:10px 0px;}
.user-income-tablelist2 .layui-table td, .layui-table th{text-align:center;}
.user-income-tablelist2 .layui-table th{text-align:center;}
.user-income-tablelist2 .layui-table, .user-income-tablelist .layui-table-view{margin-bottom:0px;}
.user-income-ispan-pl100 {width: 285px;height: 34px;border: solid 1px #f0f0f0;position: absolute;left: 100px;top: 0px;}
.user-income-search {position: absolute;left: 480px;top: 0px;height: 34px;line-height: 34px;background-color: #ed8927;border: none;color: #fff;width: 100px;text-align: center;}
.user-income-left200{left:300px;}
.user-income-ispan-w500 {width: 500px;height: 34px;position: absolute;left: 100px;top: 0px;font-size: 14px; color: #ed8927;}
.user-a-detail-title{font-size:30px;padding:40px 30px 15px 30px;text-align:center;color:#333333;line-height:32px;}
.user-a-detail-content{padding:30px;color:#333;height:400px;}
.user-a-detail-content p{line-height:32px;padding-bottom:15px;text-indent:30px;}
.user-a-detail-content p strong{padding-right:10px;}
.video-share-show{width:180px;position:absolute;right:40px;top:-8px;}
.user-right-lstatu{float:right;height:40px;color:#fff;padding-top:17px;}
.user-right-lstatu a{background-color:#fff;color:#000;padding:3px 7px;text-decoration:none;margin-left:7px;margin-right:5px;}
.user-right-lstatu strong{padding:0 5px;}




